body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: #ffffff; /* Set your desired background color */
    color: #000000; /* Set black as the font color */
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-text p {
    font-size: calc(100vw / 20); /* Adjust the factor as needed */
    margin: 0;
}
