body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background color */
    font-family: 'Inconsolata', monospace; /* Use Inconsolata font */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Make the content center vertically on the page */
}

.content {
    text-align: center;
    max-width: 80%; /* Adjust the maximum width of the content */
    width: 100%; /* Ensure the content takes the full width */
    padding: 20px; /* Add padding for better spacing */
}

h1 {
    font-size: 2.5rem; /* Increase font size for h1 */
    color: #333333; /* Change font color for h1 */
}

p {
    font-size: 1.25rem; /* Increase font size for paragraphs */
    color: #666666; /* Change font color for paragraphs */
}
