body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: #ffffff; /* Set your desired background color */
    color: #000000; /* Set black as the font color */
}

.center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
